@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #f1f1f1;
  --background: #242424;
}

body {
  color: var(--foreground);
  background: var(--background);
}

#App {
  max-width: 1280px;
  margin: 0 auto;
}
